@import "compass_twitter_bootstrap";

[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

html, body {
    height: 100%;
}

.icon-blue {
  background-image: url("../img/glyphicons-halflings-blue.png");
}

.sidebar {
 background-color: white;
 width: 100%;
 height: 100%;
}

/* make the container stick to the columns */
.container-fluid{
	padding-left: 0px;
	height: 100%;
	padding-right: 0px;
}

.row-fluid{
	height: 100%;
}

.top-padding {
	padding-top: 10px;
}


.left-padding {
	padding-left: 10px;
}

.full-width {
	width: 100%;
}

.logo {
	font-family: 'Oldenburg', cursive;
	font-size: 36px;
}

.links {
	font-family: 'Numans', sans-serif;
	display: inline;	 
	padding-right: 10px;
}

.text {
	font-family: 'Delius', cursive;
}

.color-one {	
	color: #666666;
}

.color-two {
	color: #0066CC;
}

.char1{
	color: #666666;	
}

.char2{
	color: #0066CC;	
}

.char3{
	color: #666666;	
}

.char4{
	color: #0066CC;	
}
.char5{
	color: #666666;	
}

.char6{
	color: #0066CC;	
}

.char7{
	color: #666666;	
}
​
input[type=custom]{
    border:none;
    border-bottom:thin dashed black;
    padding-bottom:0;
    outline:none;
}