//build:js scripts/scripts.js

script(src='scripts/vendor/angular.js')
script(src='scripts/app.js')
script(src='scripts/controllers/main.js')
script(src='scripts/controllers/login.js')
script(src='scripts/services/currentUser.js')

//endbuild